<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>ZP - zmiana daty - prezydent</title>
    <div th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/css/date-change-form.css}">
    </div>
</head>


<body>
<section id="tresc" >
    <div class="main-block">
        <h1 class="heading-form">Zmiana terminu referendum</h1>
        <p>Referendum na temat:&nbsp;</p>
        <p>Obecny termin: 24.06.2019</p>
        <form>
            <div class="form-group d-md-flex align-items-md-center">
                <h4 class="text-form">Zmień termin</h4><input class="form-control date-form-ob" type="date"></div><button class="btn btn-primary button-form" type="submit">Zmień</button></form>
    </div>
</section>
</body>

</html>