<html lang="pl" xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>ZP - Ustawy</title>
    <th:block th:remove="tag" class="extraHead"></th:block>
</head>

<body>
<section id="tresc" style="height: 80vh;">
    <p th:text="${error}" style="font-size: 43px;text-align: center;"><br>Głosowanie już się zakończyło</p>
    <div style="max-width: 240px; width: 90%; margin: 16px auto;">
        <a style="text-decoration: none;" th:href="${type}">
            <button  style="background: rgb(212,33,61); border-color: rgb(212,33,61);" class="btn btn-primary btn-block" >Wróć do strony wydarzenia</button>
        </a>
    </div>
</section>
</body>

</html>