<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>zp</title>
    <div th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/css/Registration-Form-with-Photo.css}">
    </div>
</head>


<body>
<section id="tresc" style="height: 70vh;">
    <div style="margin:16px">
        <p>Dodaj Głosowanie</p>
        <ul>
            <li><a href="/glosowania/prezydenckie/plan">Dodaj datę wyborów prezydenckich</a></li>
            <li><a href="/glosowania/prezydenckie/plan">Dodaj datę wyborów prezydenckich</a></li>
            <li><a href="/parlament/sejm/voteAdd">Dodawnie głosowania w sejmie</a></li>
            <li><a href="/parlament/senat/voteAdd">Dodawnie głosowania w senacie</a></li>
            <li><a href="/glosowania/referendum/plan">Referendum</a></li>
        </ul>
    </div>
</section>

</body>
</html>