<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="layout(title, content)">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title th:replace="${title}">zp</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/Footer-Dark.css}">
    <link rel="stylesheet" th:href="@{/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/css/Navigation-with-Button.css}">
    <link rel="stylesheet" th:href="@{/css/Registration-Form-with-Photo.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div th:insert="header.html" ></div>
    <div  th:replace="${content}" id="tresc" style="height: 80vh;"></div>
    <div th:insert="footer.html" class="footer-dark"></div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>