<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>votingForm</title>
    <div th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/css/Registration-Form-with-Photo.css}">
    </div>
</head>

<body>
<section id="tresc">
    <div class="register-photo">
        <div class="container text-center form-container" style="max-width: 900px;background-color: #ffffff;">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="margin: 24px;font-weight: 600;">Dane obywatela</h2>
                </div>
            </div>
            <div class="row" style="margin: 0px 24px;">
                <div class="col-md-6">
                    <h5 style="margin: 16px;">Imię:</h5>
                </div>
                <div class="col-md-6">
                    <h5 th:text="${citizen.name}" style="margin: 16px;">Jan</h5>
                </div>
            </div>
            <div class="row" style="margin: 0px 24px;">
                <div class="col-md-6">
                    <h5 style="margin: 16px;">Nazwisko:</h5>
                </div>
                <div class="col-md-6">
                    <h5 th:text="${citizen.surname}" style="margin: 16px;">Kowalski</h5>
                </div>
            </div>
            <div class="row" style="margin: 0px 24px;">
                <div class="col-md-6">
                    <h5 style="margin: 16px;">Pesel:</h5>
                </div>
                <div class="col-md-6">
                    <h5 th:text="${citizen.idNumber}" style="margin: 16px;">98672408872</h5>
                </div>
            </div>
            <div class="row" style="margin: 0px 24px;margin-bottom: 8px;">
                <div class="col-md-6">
                    <h5 style="margin: 16px;">Numer dowodu osobistego:</h5>
                </div>
                <div class="col-md-6">
                    <h5 th:text="${citizen.pesel}" style="margin: 16px;">AYD982839</h5>
                </div>
            </div>
            <div class="row" style="margin: 0px 24px;margin-bottom: 8px;">
                <div class="col-md-6">
                    <h5 style="margin: 16px;">Adres email:</h5>
                </div>
                <div class="col-md-6">
                    <h5 th:text="${citizen.email}" style="margin: 16px;">AYD982839</h5>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
