<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section})">

<head>
    <title>ZP - dodawanie dokumentu</title>
</head>

<body>
<section id="tresc" >
    <div class="contact-clean">
        <form method="POST" th:action="@{/parlament/documentForm}" th:object="${document}">
            <h2 class="text-center">Dodawanie dokumentu</h2>
            <div class="form-group">
                <select th:field="*{docTypeID}" class="form-control" name="type">
                    <option value="">Wybierz typ dokumentu</option>
                    <option th:each="type: ${types}"
                            th:value="${type.docTypeID}"
                            th:text="${type.docTypeName}"></option>
                </select>
                <span class="text-danger" th:errors="*{docTypeID}"></span>
            </div>
            <div class="form-group">
                <input th:field="*{docName}" class="form-control" type="text" name="docname" placeholder="Nazwa dokumentu">
                <span class="text-danger" th:errors="*{docName}"></span>
            </div>
            <div class="form-group">
                <textarea th:field="*{docDescription}" class="form-control" name="docdescription" placeholder="Opis" rows="14"></textarea>
                <span class="text-danger" th:errors="*{docDescription}"></span>
            </div>
            <div class="form-group">
                <select th:field="*{docStatusID}" class="form-control" name="type">
                    <option value="">Wybierz status dokumentu</option>
                    <option th:each="status: ${statuses}"
                            th:value="${status.docStatusID}"
                            th:text="${status.docStatusName}"></option>
                </select>
                <span class="text-danger" th:errors="*{docStatusID}"></span>
            </div>
            <div class="form-group">
                <input th:field="*{pdfFilePath}" class="bg-white border rounded border-white shadow-none" type="file" name="pdffile">
                <span class="text-danger" th:errors="*{pdfFilePath}"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" style="background-color: rgb(212,33,61);">Dodaj</button>
            </div>
        </form>
    </div>
</section>
</body>

</html>