<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>Sign</title>
    <div th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/Table-with-search.css}">
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/Table-with-search.js}" type="text/javascript"></script>
    </div>
</head>

<body>
<section id="tresc">
    <div class="text-center d-xl-flex justify-content-xl-center">
        <div style="width: 90%; max-width: 1200px">
            <h2 class="text-center"
                style="font-weight: 600;margin-top: 24px;margin-right: 8px;margin-bottom: 24px;margin-left: 8px;">
                Podpisywanie ustaw</h2>
            <span class="counter pull-right"></span>
            <table class="table table-hover table-bordered results text-center">
                <thead>
                <tr>
                    <th scope="col">Typ dokumentu</th>
                    <th scope="col">Nazwa dokumentu</th>
                    <th scope="col">Plik</th>
                    <th scope="col">Szczegóły</th>
                    <th scope="col">Podpisz</th>
                    <th scope="col">Odrzuć</th>
                </tr>
                <tr class="warning no-result">
                    <td colspan="5"><i class="fa fa-warning"></i> Brak wyników</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="document : ${documents}">
                    <td th:text="${document.docTypeID.docTypeName}" scope="row">Ustawa</td>
                    <td th:text="${document.docName}">Ustawa o tym i o tamtyk w ogole taka o długim tytule i cos tam
                        jeszce w nim jest i z tego co widać może być na prawdę długi tytuł
                    </td>
                    <td>
                        <!--            <a th:href="@{/{doc}(doc=${voting.getDocumentID().getPdfFilePath()})}" target="_blank">-->
                        <a class="" th:href="@{/{doc}(doc=${document.getPdfFilePath()})}" target="_blank"
                           th:classappend="${document.getPdfFilePath()} ? '' : 'btn-link disabled'">
                            <img th:src="${document.getPdfFilePath()} ? '/img/doc_icon.svg' : '/img/doc_icon_disable.svg' "
                                 style="height: 30px;">
                        </a>
                    </td>
                    <td>
                        <!--                <a href="#" target="_blank">-->
                        <a th:href="@{/ustawy/{id}(id=${document.docID})}">
                            <img src="/img/info_icon.svg" style="height: 30px;">
                        </a>
                    </td>
                    <td ><a  th:href="@{/ustawy/prezydent/1/{id}(id=${document.getDocID()})}"
                                            class="nav-link">Podpisz</a></td>
                    <td><a th:href="@{/ustawy/prezydent/0/{id}(id=${document.getDocID()})}"
                                            class="nav-link">Odrzuć</a></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center d-xl-flex justify-content-xl-center" style="margin: 24px;">
                <nav th:if="${documents.totalPages gt 0}">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${documents.number eq 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/ustawy/dziennikUstaw?page={id}(id=${documents.number - 3 < 1 ? 1 : documents.number - 3})}"
                               aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item disabled" th:if="${documents.number > 3}">
                            <a class="page-link" href="#" aria-label="More">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i eq documents.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( documents.number - 2 < 1 ? 1 : documents.number - 2, documents.totalPages > 10 ? (documents.number + 4 > documents.totalPages ? documents.totalPages : documents.number + 4) : documents.totalPages, 1)}">
                            <a class="page-link" th:href="@{/ustawy/dziennikUstaw?page={id}(id=${i})}" th:text="${i}"
                               th:title="${'Page '+ i}"></a>
                        </li>
                        <li class="page-item disabled"
                            th:if="${documents.number + 4 < documents.totalPages and documents.totalPages < 6}">
                            <a class="page-link" href="#" aria-label="More">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${documents.number + 1 eq documents.totalPages} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/ustawy/dziennikUstaw?page={id}(id=${documents.number + 5 < documents.totalPages ? documents.number + 5 : documents.totalPages})}"
                               aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</section>

</body>
</html>