<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>List of votes</title>
    <div th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/Table-with-search.css}">
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/Table-with-search.js}" type="text/javascript"></script>
    </div>
</head>

<body>
<section id="tresc">
    <div class="text-center d-xl-flex justify-content-xl-center">
        <div style="width: 90%; max-width: 1200px">
            <h2 class="text-center"
                style="font-weight: 600;margin-top: 24px;margin-right: 8px;margin-bottom: 24px;margin-left: 8px;">
                Dziennik Ustaw</h2>
            <div style="text-align: left">
                <a class="btn btn-primary" data-toggle="collapse" aria-expanded="false"
                   aria-controls="collapse-1" href="#collapse-1" role="button">
                    Pokaż filtry
                </a>
                <div class="collapse" id="collapse-1">
                    <form style="margin-top: 24px;margin-bottom: 8px;" th:action="@{/ustawy/dziennikUstaw/filtr}" th:method="get">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group d-md-flex align-items-md-center">
                                    <p style="margin-top: auto;margin-bottom: auto;margin-right: 8px;margin-left: 8px;">
                                        Status aktu</p>
                                    <div style="margin-right: 8px;margin-left: 8px;"><select class="form-control" th:name="docStatus" >
                                        <optgroup label="Wszystko">
                                            <option th:value="0">Wszystko</option>
                                        </optgroup>
                                        <optgroup label="Status" >
                                            <option th:each="status : ${documentStatus}"
                                                    th:value="*{status.getDocStatusID()}"
                                                    th:text="*{status.getDocStatusName()}"
                                                    th:selected="${status.getDocStatusID()==selectedStatus}">
                                            </option>
                                        </optgroup>
                                        <optgroup label="Etap legilacyjny">
                                            <option th:each="stage : ${legislativeStage}"
                                                    th:value="*{stage.getDocStatusID()}"
                                                    th:text="*{stage.getDocStatusName()}"
                                                    th:selected="${stage.getDocStatusID()==selectedStatus}">
                                            </option>
                                        </optgroup>


                                    </select></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-md-flex align-items-md-center">
                                    <p style="margin-top: auto;margin-bottom: auto;margin-right: 8px;margin-left: 8px;">
                                        Data wejścia w życie</p>
                                    <div style="margin-right: 8px;margin-left: 8px;">
                                        <select class="form-control" th:name="dateControl" style="margin-right: 8px;margin-left: 8px;">
                                            <optgroup label="w dniu">
                                                <option value="1" th:selected="${selectedDateControl == 1}">po</option>
                                                <option value="2" th:selected="${selectedDateControl == 2}">przed</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div><input class="form-control form-control-lg" type="date"
                                                style="margin-right: 8px;margin-left: 8px;" th:name="date"
                                                th:value="${selectedDate}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group d-md-flex align-items-md-center">
                                    <p style="margin-top: auto;margin-bottom: auto;margin-right: 30px;margin-left: 8px;">
                                        Rodzaj dokumentu</p>
                                    <div style="margin-right: 8px;margin-left: 8px;" ><select class="form-control" th:name="docType">
<!--                                        <optgroup label="Dokument">-->
                                        <option th:value="0" >Wszystkie</option>
                                        <option th:each="type : ${documentTypes}"
                                                    th:value="*{type.getDocTypeID()}"
                                                    th:text="*{type.getDocTypeName()}"
                                                    th:selected="${type.getDocTypeID()==selectedType}">
                                        </option>
<!--                                        </optgroup>-->
                                    </select></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Filtruj</button>
                    </form>
                </div>
            </div>
            <span class="counter pull-right"></span>
            <table class="table table-hover table-bordered results text-center">
                <thead>
                <tr>
                    <th scope="col">Typ dokumentu</th>
                    <th scope="col">Nazwa dokumentu</th>
                    <th scope="col">Status</th>
                    <th scope="col">Plik</th>
                    <th scope="col">Szczegóły</th>
                </tr>
                <tr class="warning no-result">
                    <td colspan="4"><i class="fa fa-warning"></i> Brak wyników</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="document : ${documents}">
                    <td th:text="${document.docTypeID.docTypeName}" scope="row">Ustawa</td>
                    <td th:text="${document.docName}">Ustawa o tym i o tamtyk w ogole taka o długim tytule i cos tam
                        jeszce w nim jest i z tego co widać może być na prawdę długi tytuł
                    </td>
                    <td th:text="${document.docStatusID.docStatusName}">Do zatwierdzenia przez Senat</td>
                    <td>
                        <!--            <a th:href="@{/{doc}(doc=${voting.getDocumentID().getPdfFilePath()})}" target="_blank">-->
                        <a class="" th:href="@{/{doc}(doc=${document.getPdfFilePath()})}" target="_blank"
                           th:classappend="${document.getPdfFilePath()} ? '' : 'btn-link disabled'">
                            <img th:src="${document.getPdfFilePath()} ? '/img/doc_icon.svg' : '/img/doc_icon_disable.svg' "
                                 style="height: 30px;">
                        </a>
                    </td>
                    <td>
                        <!--                <a href="#" target="_blank">-->
                        <a th:href="@{/ustawy/{id}(id=${document.docID})}">
                            <img src="/img/info_icon.svg" style="height: 30px;">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center d-xl-flex justify-content-xl-center" style="margin: 24px;">
                <nav th:if="${documents.totalPages gt 0}">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${documents.number eq 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/ustawy/dziennikUstaw?page={id}(id=${documents.number - 3 < 1 ? 1 : documents.number - 3})}"
                               aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item disabled" th:if="${documents.number > 3}">
                            <a class="page-link" href="#" aria-label="More">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i eq documents.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( documents.number - 2 < 1 ? 1 : documents.number - 2, documents.totalPages > 10 ? (documents.number + 4 > documents.totalPages ? documents.totalPages : documents.number + 4) : documents.totalPages, 1)}">
                            <a class="page-link" th:href="@{/ustawy/dziennikUstaw?page={id}(id=${i})}" th:text="${i}"
                               th:title="${'Page '+ i}"></a>
                        </li>
                        <li class="page-item disabled"
                            th:if="${documents.number + 4 < documents.totalPages and documents.totalPages < 6}">
                            <a class="page-link" href="#" aria-label="More">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${documents.number + 1 eq documents.totalPages} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/ustawy/dziennikUstaw?page={id}(id=${documents.number + 5 < documents.totalPages ? documents.number + 5 : documents.totalPages})}"
                               aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</section>

</body>
</html>