<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Kontakt</h3>
                <ul>
                    <li><a href="#">prezydent@polski.pl</a></li>
                    <li><a href="#">premier@polski.pl</a></li>
                    <li><a href="#">admin@strony.pl</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Symbole narodowe</h3>
                <ul>
                    <li><a href="https://pl.wikipedia.org/wiki/Flaga_Polski">Flaga</a></li>
                    <li><a href="https://pl.wikipedia.org/wiki/God%C5%82o_Polski">Godło</a></li>
                    <li><a href="https://pl.wikipedia.org/wiki/Hymn_Polski">Hymn</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>Projekty</h3>
                <ul class="ll">
                    <li><a>Vat--</a></li>
                    <li><a>Akcyza--</a></li>
                    <li><a>PIT--</a></li>
                </ul>
                <ul class="ll">
                    <li><a>ZUS--</a></li>
                    <li><a>KRUS--</a></li>
                    <li><a>OFE--</a></li>
                </ul>
                <ul class="ll">
                    <li><a>Pensje++</a></li>
                    <li><a>Emerytury++</a></li>
                    <li><a>Renty++</a></li>
                </ul>
            </div>
        </div>
        <p class="copyright" style="padding: 0px;padding-top: 13px;">Strony dostępne w domenie mogą zawierać adresy skrzynek&nbsp; mailowych. Użytkownik korzystający z odnośnika będącego adresem e-mail zgadza się na przetwarzanie jego danych (adres e-mail oraz dobrowolnie&nbsp; podanych danych w wiadomości)
            w celu przesłania odpowiedzi na przesłane&nbsp; pytania. Szczegóły przetwarzania danych przez każdą z jednostek znajdują się w ich politykach przetwarzania danych osobowych.<br><br></p>
    </div>
</footer>
</html>