<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>ZP - Osoby funkcyjne</title>
    <th:block class="extraHead">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script type="text/javascript" th:src="@{/js/Table-search.js}"></script>
        <script type="text/javascript" th:src="@{/js/Visibility.js}"></script>
        <style>
            .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
                background-color: #ffeeee;
            }
        </style>
    </th:block>
</head>

<body>
<section id="tresc">
    <div class="contact-clean" style="max-width: 75%;  margin-left: auto; margin-right: auto ">
        <div class="list-group">
            <h3>Prezydent:</h3>
            <div th:if="${prezydent}!=null">
                <a class="nav-link" th:href="'/parlament/funkcyjni/0'" th:text="${prezydent.getSurname()} + ' ' +  ${prezydent.getName()}"></a>
            </div>
            <h3>Posłowie</h3><small>[<a id="hide_button1" style="color: blue"
                                        onclick="hideVoting('to_hide1','hide_button1')">Ukryj</a>]</small>
            <table class="table table-bordered table-striped sorted-table">
                <thead>
                <tr>
                    <th>Nazwisko</th>
                    <th>Imie</th>
                    <th>Ugrupowanie</th>
                </tr>
                </thead>
                <div th:if="${sejm}!=null">
                    <tbody class="to_hide1">
                    <tr th:each="person:${sejm}">
                        <td><a class="nav-link" th:href="'/parlament/funkcyjni/'+*{person.parliamentarianID}" th:text="${person.getPoliticianID().getCitizenID().getSurname()}"></a></td>
                        <td><a class="nav-link" th:href="'/parlament/funkcyjni/'+*{person.parliamentarianID}" th:text="${person.getPoliticianID().getCitizenID().getName()}"></a></td>
                        <td th:text="${person.getPoliticalGroup()!=null} ? ${person.getPoliticalGroup()} : 'Brak'"></td>
                    </tr>
                    </tbody>
                </div>
            </table>
            <br><br><br>
            <h5>Marszałek sejmu:</h5>
            <div th:if="${marszalek_sejm}!=null">
                <a class="nav-link" th:href="'/parlament/funkcyjni/'+${marszalek_sejm.parliamentarianID}"
                   th:text="${marszalek_sejm.getPoliticianID().getCitizenID().getSurname()} + ' ' +  ${marszalek_sejm.getPoliticianID().getCitizenID().getName()} + ' partia ' + ${marszalek_sejm.getPoliticalGroup()}"></a>
            </div>
            <h3>Senatorzy</h3><small>[<a id="hide_button2" style="color: blue"
                                         onclick="hideVoting('to_hide2','hide_button2')">Ukryj</a>]</small>
            <table class="table table-bordered table-striped sorted-table">
                <thead>
                <tr>
                    <th>Nazwisko</th>
                    <th>Imie</th>
                    <th>Ugrupowanie</th>
                </tr>
                </thead>
                <div th:if="${senat}!=null">
                    <tbody  class="to_hide2">
                    <tr th:each="person:${senat}">
                        <td><a class="nav-link" th:href="'/parlament/funkcyjni/'+*{person.parliamentarianID}" th:text="${person.getPoliticianID().getCitizenID().getSurname()}"></a></td>
                        <td><a class="nav-link" th:href="'/parlament/funkcyjni/'+*{person.parliamentarianID}" th:text="${person.getPoliticianID().getCitizenID().getName()}"></a></td>
                        <td th:text="${person.getPoliticalGroup()!=null} ? ${person.getPoliticalGroup()} : 'Brak'"></td>
                    </tr>
                    </tbody>
                </div>
            </table>
            <h5>Marszałek senatu:</h5>
            <div th:if="${marszalek_senat}!=null">
                <a class="nav-link" th:href="'/parlament/funkcyjni/'+${marszalek_senat.parliamentarianID}"
                   th:text="${marszalek_senat.getPoliticianID().getCitizenID().getSurname()} + ' ' + ${marszalek_senat.getPoliticianID().getCitizenID().getName()} + ' partia ' + ${marszalek_senat.getPoliticalGroup()}"></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>