<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>zp</title>
    <div th:remove="tag" class="extraHead"></div>
</head>

<body>
    <section id="tresc" style="height: 80vh;">
        <p style="font-size: 43px;text-align: center;"><br>glosowania</p>
        <a class="nav-link" href="/glosowania/prezydenckie/plan">Dodaj wybory prezydenckie</a>
        <a class="nav-link" href="/glosowania/referendum/plan">Dodaj referendum</a>
    </section>
</body>
</html>