<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(212,33,61);height: 10vh;">
    <div class="container"><a class="navbar-brand" href="/" style="background-image: url(&quot;/img/godlo.png&quot;);background-size: contain;background-repeat: no-repeat;width: 10vh;height: 10vh;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/kalendarz">Kalendarz</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/glosowania" sec:authorize="hasAnyRole('ADMIN', 'MARSZALEK')">Głosowania</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/ustawy">Ustawy</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/historia">Historia</a></li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true" href="/parlament">Parlament</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="/parlament/sejm">Sejm</a>
                        <a class="dropdown-item" role="presentation" href="/parlament/senat">Senat</a>
                    </div>
                </li>
            </ul>
                <span class="navbar-text actions">
                    <a class="login" href="/signin" sec:authorize="isAnonymous()">Zaloguj</a>
                    <a class="btn btn-light action-button" role="button" href="/signup" style="background-color: rgb(255,255,255);color: rgb(0,0,0);" sec:authorize="isAnonymous()">Zarejestruj</a>
                    <a class="login"  sec:authorize="isAuthenticated()"  sec:authentication="name"></a>
                    <a class="btn btn-light action-button" role="button" href="/logout" style="background-color: rgb(255,255,255);color: rgb(0,0,0);" sec:authorize="isAuthenticated()">Wyloguj</a>
                </span>
        </div>

    </div>
</nav>
</html>