<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>zp</title>
    <div th:remove="tag" class="extraHead"></div>
</head>

<body>
    <section id="tresc" style="height: 60vh;">
        <div class="col-lg-8 mx-auto">
            <p style="font-size: 43px;text-align: center;"><br>Historia</p>
            <h3>Przeszłe głosowania</h3>
            <a style="margin-left: 30px" class="nav-link" href="/obywatel/przeszleGlosowania/prezydent">Wybory Prezydenckie</a>
            <a style="margin-left: 30px" class="nav-link" href="/obywatel/przeszleGlosowania/referendum">Referendum</a>
        </div>
    </section>
</body>
</html>