
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="base :: layout(~{::title}, ~{::.calendarclass},~{::.extraHead})">
    <title>zp</title>
    <div class="extraHead">
        <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css" rel="stylesheet"></link>
        <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.print.css" rel="stylesheet" media="print"></link>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js" type="text/javascript"></script>
        <script src="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js" type="text/javascript"></script>
        <script src="http://fullcalendar.io/js/fullcalendar-2.2.5/lang-all.js" type="text/javascript"></script>

        <script th:inline="javascript">
            $(document).ready(function() {

                var x  = $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    plugins: [ 'interaction' ],
                    // defaultDate: '2019-06-01',

                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
                    // events: {
                    //     url: 'kalendarz/allevents',
                    //     type: 'GET',
                    //     error: function() {
                    //         alert('there was an error while fetching events!');
                    //     },
                    eventRender: function(event, element) {
                        element.css("min-height", "2.5em");
                        element.css("height", "auto");
                        // element.css("overflow", "auto");
                        element.css("word-wrap", "break-word");
                        element.css("word-brake", "break-all");
                    },
                    durationEditable: false,
                    handleWindowResize: true,
                    height: parent,
                    lang: 'pl',
                    contentHeight: 600,
                    eventResizableFromStart: true,
                    events: [[${voting}]] ,
                });
            });

        </script>

        <style>
            #calendar {
                max-width: 900px;
                margin: 50px auto 50px auto;
            }
        </style>
    </div>
</head>

<body>
    <div class="calendarclass" id="calendar" th:id="calendar">
        <div class="form-group" sec:authorize="hasAnyRole('MARSZALEK_SEJMU','MARSZALEK_SENATU', 'ADMIN')"><a style="text-decoration: none;" href="/kalendarz/addevent"><button  style="background: rgb(212,33,61); border-color: rgb(212,33,61);" class="btn btn-primary btn-block" >Dodaj wydarzenie do kalendarza</button></a></div>
    </div>

</body>
</html>

