<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section})">
<head>
    <title>ZP - Parlament</title>
</head>

<body>
<section id="tresc" style="height: 80vh;">
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Dodaj głosowanie</h2>
            <div class="form-group"><select class="form-control" name="doctypeid"><option value="1" selected="">Wybierz ustawe do głosowania</option></select></div>
            <div class="form-group"><textarea class="form-control" name="docdescription" placeholder="Opis" rows="40"></textarea></div>
            <div class="form-group d-sm-flex align-items-sm-start"><input class="form-control" type="date"><input class="form-control" type="time"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit" style="background-color: rgb(212,33,61);">Dodaj&nbsp;</button></div>
        </form>
    </div>
</section>
</body>
</html>