<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section})">
<head>
    <title>ZP - Parlament</title>
</head>

<body>
<section id="tresc" style="height: 80vh;">
    <div class="contact-clean">
        <form method="post" th:action="@{/parlament/documentForm}" th:object="${voting}">
            <h2 class="text-center">Dodaj głosowanie</h2>
            <div class="form-group">
                <select th:field="*{documentID}" class="form-control" name="document">
                    <option th:each="document: ${documents}"
                            th:value="${document.docID}"
                            th:text="${document.docName}"></option>
                </select>
            </div>
            <div class="form-group">
                <input th:field="*{votingDate}" class="form-control" type="date">
                <small class="form-text text-muted">Data głosowania</small>
            </div>
            <div class="form-group">
                <input th:field="*{openVoting}" class="form-control" type="time">
                <small class="form-text text-muted">Czas rozpoczęcia głosowania</small>
            </div>
            <div class="form-group">
                <input th:field="*{closeVoting}" class="form-control" type="time">
                <small class="form-text text-muted">Czas zakończenia głosowania</small>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" style="background-color: rgb(212,33,61);">Dodaj&nbsp;</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>