<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>ZP - Senat</title>
    <div class="extraHead">
        <script type="text/javascript" th:src="@{/js/Visibility.js}"></script>
    </div>
</head>
<body>
    <section id="tresc" style="min-height: 60vh;">
        <p style="font-size: 43px;text-align: center;"><br>Senat</p>
        <a class="nav-link" href="/parlament/documentForm" sec:authorize="hasAnyRole('SENATOR', 'ADMIN')">Dodawnie dokumentu</a>
        <a class="nav-link" href="/parlament/senat/voteAdd"sec:authorize="hasAnyRole('MARSZALEK_SENATU', 'ADMIN')">Dodawnie głosowania w senacie</a>
        <h3>najbliższe głosowania</h3>
        <button id="hide_button" type="button" class="btn btn-info" onclick="hideVoting()">Ukryj nieaktywne glosowania</button>
        <ul class="list-group" th:each="voting : ${VotingList}" th:switch="${Sign[votingStat.index]}">
            <li th:case="true"  class="list-group-item">
                <div th:switch="${voting.getVotingDescription()}">
                    <a th:case="null" class="nav-link" th:href="'/parlament/vote/'+${voting.getVotingID()}"  sec:authorize="hasAnyRole('SENATOR', 'ADMIN')"><p th:text="${voting.getDocumentID().getDocDescription()}"></p></a>
                    <a th:case="*" class="nav-link" th:href="'/parlament/vote/'+${voting.getVotingID()}" th:text="${voting.getVotingID()}" sec:authorize="hasAnyRole('SENATOR', 'ADMIN')"><p th:text="${voting.getVotingID()}"></p></a>
                    <span class="table-info" th:text="'Dzień: '+${voting.getVotingDate()} +' Czas głosowania: ' + ${voting.getOpenVoting()} + ' - ' +  ${voting.getCloseVoting()}"></span>
                </div>
            </li>
            <li th:case="false" class="list-group-item closed-voting">
                <div th:switch="${voting.getVotingDescription()}">
                    <p th:case="null" class="nav-link" th:text="${voting.getDocumentID().getDocDescription()}"></p>
                    <p th:case="*" class="nav-link" th:text="${voting.getVotingDescription()}"></p>
                </div>
                <span class="table-info" th:text="'Dzień: '+${voting.getVotingDate()} +' Czas głosowania ' + ${voting.getOpenVoting()} + ' - ' +  ${voting.getCloseVoting()}"></span>
            </li>
        </ul>
    </section>
</body>
</html>