<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section})">
<title>zp</title>

<section>
    <div class="register-photo">
        <div class="form-container">
            <form method="post" th:action="@{/signup}"  th:object="${user}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <h2 class="text-center"><strong>Utwórz konto</strong></h2>
                <div class="form-group">
                    <input th:field="*{email}" class="form-control" type="email" name="email" placeholder="Email" required="">
                    <span class="text-danger" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <input th:field="*{password}" class="form-control" type="password" name="password" placeholder="Hasło" required="">
                    <span class="text-danger" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <input th:field="*{repeatPassword}" class="form-control" type="password" name="password-repeat" placeholder="Hasło (powtórz)" required="">
                    <span class="text-danger" th:errors="*{repeatPassword}">
                   	<span class="text-danger" th:errors="*{repeatPassword}"> </span>
                </div>
                <div class="form-group">
                    <input th:field="*{name}" class="form-control" type="text" name="name" placeholder="Imię" required="">
                    <span class="text-danger" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <input th:field="*{surname}" class="form-control" type="text" name="surname" placeholder="Nazwisko" required="">
                    <span class="text-danger" th:errors="*{surname}"></span>
                </div>
                <div class="form-group">
                    <input th:field="*{pesel}" class="form-control" type="number" name="pesel" placeholder="PESEL" inputmode="numeric">
                    <span class="text-danger" th:errors="*{pesel}"> </span>
                </div>
                <div class="form-group">
                    <input th:field="*{idNumber}" class="form-control" type="text" name="surname" placeholder="Seria i numer dowodu osobistego" required="">
                    <span class="text-danger" th:errors="*{idNumber}"></span>
                </div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" required="">Zgadzam się z polityką prywatności.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Zarejestruj</button></div><a class="already" href="/signin">Masz konto? Zarejestruj się tutaj.</a></form>
        </div>
    </div>
</section>
</html>