<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="base :: layout(~{::title}, ~{::.event}, ~{::.extraHead} )">
<head>
    <title>zp</title>
    <div th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/css/Contact-Form-Clean.css}">
        <script type="text/javascript" th:inline="javascript">
        </script>
        <!-- !!! EXAMPLE: https://canvasjs.com/spring-mvc-charts/ !!! -->
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
            var dps = [];
            window.onload = function () {
                /*[# th:each="item : ${statistics.chart.data}"]*/
                yValue = parseFloat([[${item.value}]]);
                label = [[${item.label}]];
                dps.push({
                    label : label,
                    y : yValue,
                });
                /*[/]*/

                var piechart = new CanvasJS.Chart("piechartContainer", {
                    theme: light,
                    animationEnabled: true,
                    title: {
                        text: [[${statistics.chart.title}]]
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString:"#\" głosy\"",
                        dataPoints: dps
                }]
            });

                piechart.render();
            }
        </script>
    </div>
</head>
<body>
<div class="event">
    <div class="contact-clean" style="padding-bottom: 40px;" th:object="${voting}">
        <form style="max-width: 600px; margin-bottom: 40px;">
            <h2 class="text-center">Wyniki głosowania</h2>
            <table>
                <tr th:if="*{votingDate}">
                    <td><a>Data głosowania: </a></td>
                    <td><a style="text-align:right" th:text="*{votingDate}" ></a></td>
                </tr>
                <tr th:if="*{votingDescription}">
                    <td><a>Opis: </a></td>
                    <td><a th:text="*{votingDescription}" ></a></td>
                </tr>
                <tr th:if="*{votingType}">
                    <td><a>Typ: </a></td>
                    <td><a th:text="*{votingType}" ></a></td>
                </tr>
                <tr th:if="*{documentID}">
                    <td><a>Dokument: </a></td>
                    <td><a th:text="*{documentID.docName}"></a></td>
                </tr>
                <tr>
                    <td><a>Upoważnionych do głosowania: </a></td>
                    <td><a th:text="${statistics.entitledToVote}"></a></td>
                </tr>
                <tr>
                    <td><a>Oddanych głosów: </a></td>
                    <td><a th:text="${statistics.votesCount}"></a></td>
                </tr>
                <tr>
                    <td><a>Frekwencja: </a></td>
                    <td><a> <span th:text="${#numbers.formatDecimal(statistics.frequency, 0, 'COMMA', 2, 'POINT')}"> </span> %</a></td>
                </tr>
            </table>
            <div id="piechartContainer" style="height: 300px; width: 100%;"></div>
        </form>
    </div>
</div>
</body>
</html>