<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>Porzadek obrad</title>
    <div th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/fonts/ionicons.min.css}">
        <link rel="stylesheet" th:href="@{/css/Registration-Form-with-Photo.css}">
    </div>
</head>

<body>
<section id="tresc">
    <div class="register-photo" style="background-color: rgb(241,247,252);">
        <div class="form-container" style="background-color: #ffffff;">
            <h2 class="text-center schedule-header" style="font-weight: 600;">Porządek obrad w <span th:text="${schedule_name}">Sejmie</span></h2>
            <div class="text-left border rounded shadow form-container schedule-date-box"
                 style="background-color: rgb(212,33,61);margin-bottom: 24px;color: rgb(254,255,255);height: auto;max-height: auto;">
                <p style="margin: 16px;margin-bottom: 8px;font-weight: 500;">Agenda na dzień:</p>
                <div class="container d-md-flex align-items-md-center" style="margin-bottom: 16px; margin-top: 24px; padding: 0px;">
                    <p th:text="${current_date}" style="margin-top: auto;margin-right: 16px;margin-left: 16px;margin-bottom: auto;font-weight: 600;">
                        22 Czerwca 2020</p>
                    <form style="padding: 0px;min-height: 0px;background-color: rgba(255,255,255,0);max-width: 300px;min-width: 0px;">
                        <div class="form-group d-lg-flex align-items-lg-center"
                             style="max-width: auto;margin-bottom: 0px;height: auto;"><input
                                class="border rounded border-white shadow form-control form-control-sm" type="date"
                                style="max-width: 150px;margin: auto;margin-left: 8px;margin-right: 0px;margin-top: auto;margin-bottom: auto;background-color: rgb(251,238,238);"
                                required="">
                            <button class="btn btn-primary border rounded border-white shadow" type="submit"
                                    style="background-color: rgb(251,238,238);color: rgb(0,0,0);margin: auto;margin-top: auto;margin-left: 8px;">
                                Zmień datę<a href="#"></a></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center" style="margin: 24px;"><h3 th:if="${ #lists.isEmpty(votings)}">Brak głosowań</h3></div>
            <div th:each="voting : ${votings}">
                <div class="text-center" style="margin: 24px;">
                    <div class="text-center d-md-flex align-items-md-center"><i class="icon ion-android-radio-button-on"
                                                                                style="margin-top: auto;margin-bottom: auto;color: rgb(212,33,61);margin-left: auto;margin-right: 8px;font-size: 24px;"></i>
                        <div style="margin: auto;margin-right: auto;margin-left: 8px;">
                            <p style="margin: 0px;"><span th:text="${voting.openVoting}">21:30</span> - <span th:text="${voting.closeVoting}">22:30</span></p>
                            <a th:text="${voting.documentID.docName}" th:href="@{/ustawy/{id}(id=${voting.documentID.docID})}" style="margin-bottom: 0px; color: rgb(0,0,0);">Ustawa o związkach partnerskich</a>
                            <p th:text="${voting.documentID.docStatusID.docStatusName}" style="margin-bottom: 0px;color: rgb(124,132,140);font-size: 14px;">Pierwsze czytanie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
