<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>zp</title>
    <div class="extraHead">
        <script type="text/javascript" th:src="@{/js/Visibility.js}"></script>
    </div>
</head>

<body>
<section id="tresc" style="min-height: 60vh;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p style="font-size: 43px;text-align: center;">głosowania</p>
                <button id="hide_button" type="button" class="btn btn-info" style="background-color: rgb(212,33,61);" onclick="hideVoting()">Ukryj nieaktywne glosowania</button>
                <ul class="list-group shadow" th:each="voting : ${VotingList}" th:switch="${Sign[votingStat.index]}">
                    <li th:case="true" class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <a th:href="'/obywatel/wyboryReferenda/'+${voting.getVotingID()}" sec:authorize="hasAnyRole('USER','ADMIN','MARSZALEK_SEJMU','MARSZALEK_SENATU','POSEL','SENATOR','PREZYDENT')">
                                    <h5 class="mt-0 font-weight-bold mb-2" th:text="${voting.getVotingDescription().substring(0, min.run(voting.getVotingDescription().length(), 31))}"></h5>
                                </a>
                                <p th:text="'Dzień: '+${voting.getVotingDate()} +' Czas głosowania: ' + ${voting.getOpenVoting()} + ' - ' +  ${voting.getCloseVoting()}" class="font-italic text-muted mb-0 small"></p>
                            </div>
                        </div>
                    </li>
                    <li th:case="false" class="list-group-item closed-voting">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2" th:text="${voting.getVotingDescription().substring(0, min.run(voting.getVotingDescription().length(), 31))}"></h5>
                                <p th:text="'Dzień: '+${voting.getVotingDate()} +' Czas głosowania: ' + ${voting.getOpenVoting()} + ' - ' +  ${voting.getCloseVoting()}" class="font-italic text-muted mb-0 small"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>