<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::.contact-clean}, ~{::.extraHead} )">
<head>
    <title>zp</title>
    <div th:remove="tag" class="extraHead"></div>
</head>
<body>
    <div class="contact-clean" th:object="${voting}">
        <form>
            <h2 class="text-center">głosowanie</h2>
            <table>
            <tr th:if="*{votingDate}">
                <td><a>Data głosowania: </a></td>
                <td><a style="text-align:right" th:text="*{votingDate}" ></a></td>
            </tr>
            <tr th:if="*{openVoting}">
                <td><a>Czas rozpoczęcia głosowania: </a></td>
                <td><a th:text="*{openVoting}" ></a></td>
            </tr>
            <tr th:if="*{closeVoting}">
                <td><a>Czas zakończecia głosowania: </a></td>
                <td><a th:text="*{closeVoting}" ></a></td>
            </tr>
            <tr th:if="*{votingDescription}">
                <td><a>Opis: </a></td>
                <td><a th:text="*{votingDescription}" ></a></td>
            </tr>
            <tr th:if="*{votingType}">
                <td><a>Typ: </a></td>
                <td><a th:text="*{votingType}" ></a></td>
            </tr>
            <tr th:if="*{setID_column}">
                <td><a>Status: </a></td>
                <td><a th:text="*{setID_column.setName_column}" ></a></td>
            </tr>
            <tr th:if="*{documentID}">
                <td><a>Dokument: </a></td>
                <td><a th:text="*{documentID.docName}" ></a></td>
            </tr>
            </table>
        </form>
    </div>
</body>

</html>