<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"  th:replace="base :: layout(~{::title}, ~{::section}, ~{::.extraHead} )">
<head>
    <title>ZP - zamiana statusu</title>
    <th:block th:remove="tag" class="extraHead">
        <link rel="stylesheet" th:href="@{/css/Contact-Form-Clean.css}">
    </th:block>
</head>


<body>
<section id="tresc" >
    <div class="contact-clean">
        <form method="POST" th:action="@{/ustawy/status/{id}(id=${id})}" enctype="multipart/form-data" th:object="${document}">
            <h2 class="text-center">Zmiana statusu dokumentu</h2>
            <div class="text-center" ><h3>Poprzedni status: </h3><h3 th:text="${currentStatus.getDocStatusName()}"></h3></div>
            <br><br>
            <h4 class="text-center">Nowy status:</h4>
            <div class="form-group">
                    <select required="required" class="form-control" name="type">
                        <option value="">Wybierz status</option>
                        <option th:each="status: ${statuses}"
                                th:value="${status.getDocStatusID()}"
                                th:text="${status.getDocStatusName()}"></option>
                    </select>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Zatwierdź</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>

</html>